body {
    background: #d49d9d;
    background: url(.assets/concrete-texture.png);
}

.jumbotron {
    background: #e6c1c1;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
}

.containercontact {
background: #e6c1c1;
}

/* navbar navbar-expand-md bg-dark navbar-dark */

/* .navbar {
    background: rgb(58, 11, 80);

} */

h1 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 80px;
    margin: 0px 10px 0px 10px;
    padding: 0px 20px 0px 20px;
}

h2 {
    font-family: 'Yantramanav', sans-serif;
    color: #e6c1c1;
    font-size: 30px;
    text-align: center;

}

h4 {
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 30px;
    margin: 10px;
    padding: 20px;
}

p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 14px;
    color: black;
    text-align: center;

}

#collapsibleNavbar {
    font-family: 'Yantramanav', sans-serif;
    font-size: 12px;
    color: black;
    background: #e6c1c1;
    width: 100%;
}

nav{
    font-family: 'Yantramanav', sans-serif;
    font-size: 12px;
    color: black;
    background: #e6c1c1;
    width: 100%;
    
}

.navbar-toggler
{
    color: white;
}

.row {
    background: white;
    font-family: 'Yantramanav', sans-serif;
    color: black;
    font-size: 80px;
    width: 100%; 
    padding: 60px 0px 60px 0px;
}

.btn{
    color: lightslategray;
}

footer {
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
  }